body{background-image: url("../assets/fonvin.jpg");
}


img.icon{
    width: 30px;
}

.jumbotron {
    background-image: url("../assets/ma.jpg") !important;
font-family: cursive;
    
}

footer {
    padding: 15px 10px;
    margin-left: 350px;
    }

p {text-align: center;}

.inframe {
    background-position: center;
}

