<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiénes somos</title>
    <link rel="stylesheet" href="../css/main.css">
    <!-- Este es el enlace de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>

<body>
    <nav class="nav">
        <div class="container">
            <a href="../index.html"><img class="nav-logo" src="../assets/logodulces.png" alt=""></a>
            <a class="nav-link" href="catalogo.html">Catálogo</a>
            <a class="nav-link" href="nosotros.html">Nosotros</a>
        </div>
    </nav>


    <div class="container about">
        <div class="row">
            <div class="col-sm">
                <img class="logo-about" src="../assets/logodulces.png" class="card-img-top" alt="...">
            </div>
            <div class="text-about">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, nemo repudiandae? Eveniet et sit
                    nisi maiores tempore fugiat optio iste. Nesciunt ipsam consequatur atque esse unde, aspernatur
                    excepturi iste suscipit!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus nostrum vel ab, in natus mollitia
                    voluptatibus totam deleniti consequatur sapiente distinctio odit recusandae non maxime sequi
                    laudantium ducimus corrupti earum?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <img class="img-fluid" src="../assets/mam3.jpg" alt="">
            </div>
        </div>
    </div>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="https://www.facebook.com/dulcesgilbon/" target="_blank"> <img class="social" class="icon"
                            src="../assets/facebook.svg" alt=""> </a>
                </div>
                <div class="col">
                    <a href="https://articulo.mercadolibre.com.mx/MLM-554358099-manzanas-cubiertas-decoradas-para-todo-tipo-de-eventos-_JM?quantity=1"
                        target="_blank"> <img class="social" class="icon" src="../assets/logo-mlibre.jpg" alt=""> </a>
                </div>
            </div>
        </div>
    </footer>
    <div class="copy">
        <p>Made by Gilbón with &#10084;</p>
        <small>2020 Todos los Derechos Reservados</small>
    </div>
</body>

</html>