<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiénes somos</title>
    <link rel="stylesheet" href="../css/main.css">
    <!-- Este es el enlace de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>

<body>
    
    
    <nav class="nav">
        <a class="nav-link" href="../index.html">Home</a>
        <a class="nav-link" href="../views/catalogo.html">Cátalogo</a>
        <a class="nav-link" href="../views/quiénes.html">Quiénes somos</a>
    </nav>
    

    <div class="container">
      
        <div class="row">
            <div class="col-sm">
                    <img src="../assets/logodulces.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    </div>
            </div>
            <div class="row"></div>
            <div class="col-sm">
                  
                        <p class="card-text">Somos un negocio dedicado a la decoración y venta de productos para tus eventos, 
                        </p>
                        
            </div>
        </div>

 </div>   
 


  <footer>
    <div class="container"></div>
        <div class="row">
            <div class="col-sm">
                <a href="https://www.facebook.com/dulcesgilbon/" target="_blank"> <img class="icon"
                        src="../assets/facebook.svg" alt=""> </a>
            </div>
            <div class="col-sm">
                <a href="https://articulo.mercadolibre.com.mx/MLM-554358099-manzanas-cubiertas-decoradas-para-todo-tipo-de-eventos-_JM?quantity=1" target="_blank"> <img class="icon"
                        src="../assets/MercadoLibre.svg" alt=""> </a>
            </div>
            
        </div>
    </div>
  

</footer>   
</body>
</html>